<%= content_tag :div, id: 'seat'+seat.id.to_s, data: {id: seat.id, name: seat.name}, class: get_seat_class(seat, @registration), style: (
		"left: #{seat.position_x}px; " +
		"top: #{seat.position_y}px; " +
		"width: #{seat.image.width(:sized)}px; " +
		"height: #{seat.image.height(:sized)}px; " +
		"background: transparent url('#{seat.image.url(:sized)}') no-repeat center center; ") do -%>
	<div class="occupancy"></div>
<% end -%>