<div class="search-error">
  Bei der Verbindung zur Datenbank von moviepilot.de ist ein Fehler aufgetreten.<br/>
  Bitte versuche es noch einmal oder benutze die
	<a data-toggle="modal" data-dismiss="modal" href="#movie_form_modal">manuelle Eingabe</a>.
</div>