<div id="suggestions_header" class="page-header">
	<h1>Filmvorschläge für <%=l! @show.date.to_date %></h1>
</div>
<%= render @movie_suggestions, edit: true %>
<%= link_to 'Neuer Filmvorschlag', new_show_movie_suggestion_path(@show), class: 'btn' %>
