<div class="box heading red">Filmvorschläge für <%=l! @show.date.to_date %></div>
<%= render @movie_suggestions %>
<%= link_to 'Neuer Filmvorschlag', new_show_movie_suggestion_path(@show), class: 'button red' %>
