<div class="box">
	<div class="rounded-corners-top heading red">Neuer Filmvorschlag für <%=l! @show.date.to_date %></div>
	<%= render 'form' %>
</div>



<%= link_to 'Back', show_movie_suggestions_path(@show) %>
