<div class="search-result clearfix">
	<%= image_tag @poster_url, alt: "Poster zu #{@title}", width: '60' %>
	<span class="movie_title"><%= @title %></span>
	<% if @production_year -%>
	<span class="movie_year">(<%= @production_year %>)</span>
	<% end -%>
</div>