/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*= require jquery-ui.css
*= require jquery-ui-timepicker-addon.css
*/

$baseFontSize: 15px;
$baseLineHeight: 20px;
@import "bootstrap";

body {
  padding-top: 60px;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 2px;
}

a {
  cursor: pointer;
}

.help-inline {
  margin: 0 !important;
}

/*
$radius: 20px;

@mixin shadow($blur) {
  -moz-box-shadow: 0 0 $blur #333;
  -webkit-box-shadow: 0 0 $blur #333;
  box-shadow: 0 0 $blur #333;
}

@mixin gradient($start, $stop) {
  background-color: $start;
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.01, $start), color-stop(1, $stop) );
  background-image: -moz-linear-gradient( center top, $start 1%, $stop 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$stop}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$stop}')";
}

@mixin radiusTop($radius) {
  top-left-radius: $radius;
  top-right-radius: $radius;
}

@mixin roundedCornersTop($radius) {
  -moz-border: {
    @include radiusTop($radius);
  }
  -webkit-border: {
    @include radiusTop($radius);
  }
  border: {
    @include radiusTop($radius);
    style: none;
  }
}

@mixin roundedCorners($radius) {
  -moz-border: {
    radius: $radius;
  }
  -webkit-border: {
    radius: $radius;
  }
  border: {
    radius: $radius;
    style: none;
  }
}


body {
  font-family: Arial, sans-serif;
  font-size: 12pt;
  color: #303030;
  background-color: #EEE;
  cursor: default;
}

#content {
  margin: 50px auto;
  width: 800px;
}

.black {
  @include gradient(#292929, #1B1B1B);
  color: white;
}

.red {
  @include gradient(#D91B1B, #961313);
  color: white;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clear{
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

.rounded-corners-top {
  @include roundedCornersTop($radius);
}

.box {
  @include roundedCorners($radius);
  @include shadow(5px);

  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: white;

  position: relative;
}

.button {
  border: {
    radius: $radius;
    style: none;
  }

  font-size: 1em;
  text-decoration: none;
  cursor: pointer;

  padding: 3px 10px;
  margin: 0;
  
  @include shadow(3px);
}

.heading {
  font: {
    size: 2em;
    weight: bold;
  }
  padding: 5px $radius;
}

form {
  margin: $radius;
  margin-bottom: 0;

  .field {

    margin: 5px 0;

    label {
      width: 128px;
      float: left;
      padding-top: 3px;
      margin-right: 2px;
      display: block;
    }
  }

  .actions {
    clear: both;
    padding-top: 20px;
  }
}

#movie_suggestion_box {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 90px;
  left: 150px;
  width: 200px;
  height: 300px;
  
  @include shadow(5px);
}
*/