/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*= require jquery-ui.css
*= require jquery-ui-timepicker-addon.css
*/

$baseFontSize: 15px;
$baseLineHeight: 20px;
@import "bootstrap";

body {
  padding-top: 60px;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 2px;
}

a {
  cursor: pointer;
}

.help-inline {
  margin: 0 !important;
}

.read-more-full {
  display: none;
}

.read-less-link {
  margin-left: 10px;
}