.ui-autocomplete {

  li.ui-menu-item {    
    border-bottom: 1px solid #EEE;
  }

  li.ui-menu-item:last-child {
    border-bottom: none;
  }

  .search-result {
    width: 300px;
    vertical-align: top;
    line-height: 1.2;

    img {
      float: left;
      margin-right: 3px;
    }

    .movie_title {
      margin-top: 3px;
    }
  }
}

#search_modal {

  margin-top: -320px;

  .modal-header {
    height: 40px;
  }

  #search_results {
    height: 487px;
    max-height: 487px;
    padding: 0 15px;

    .loader {
      margin: 227px 249px;
    }

    .search-error {
      margin-top: 20px;
      font-style: italic;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .search-result {
    vertical-align: top;
    border-bottom: 1px solid #EEE;
    height: 91px;
    overflow: hidden;
    padding: 3px 0;

    img {
      float: left;
      margin-right: 5px;
    }
  }
  
  
  .search-result:first-child {
    border-top: none;
  }

  .search-result:last-child {
    padding-bottom: 0;
  }

  #search_nav a {
    min-width: 16px;
    padding: 0 13px;
  }
  
}