$radius: 20px;

.show_date {
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px $radius;
  margin-bottom: 10px;
}

.show_text {
  padding: 0 $radius;
}

.admin_actions {
  padding: 0 $radius;
}

.registrations {
  float: left;
  padding: 3px 0;
}

form#new_show {
  padding: $radius;

  .field {
    label {
      width: 8em;
      float: left;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
  }
}

